## Web Scraping: Cotización Cedears Argentina
---
https://iol.invertironline.com/mercado/cotizaciones/argentina/cedears/todos

In [17]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
# Página principal:
url = 'https://iol.invertironline.com/mercado/cotizaciones/argentina/cedears/todos'

# Realizo el request:
r = requests.get(url)

# Chequeo de status:
r.status_code #200

200

In [3]:
# Creamos la 'sopa':
s = BeautifulSoup(r.text, 'lxml')

In [4]:
# Separamos la tabla de datos:
tabla = s.find('tbody')

### Extracción de Datos:
---

In [11]:
# Extraemos los nombres de las especies:
nombres = tabla.find_all('b')
especies = [nombre.get_text(strip=True) for nombre in nombres]
#print(especies)
len(especies)

345

In [13]:
# Extraemos la Empresa :
links_nombres = tabla.find_all('a')
empresa = [link.get('title') for link in links_nombres]
#print(empresa)
len(empresa)

345

In [18]:
# Las asociamos en el orden de extracción:
dic = {"CEDEAR": especies, "EMPRESA": empresa}
df = pd.DataFrame(dic)
df

    CEDEAR                         EMPRESA
0      AAL    AMERICAN AIRLINES GROUP INC.
1     AAPL                           Apple
2    AAPLC                           Apple
3    AAPLD                           Apple
4     ABBV                     AbbVie Inc.
..     ...                             ...
340     XP                         XP INC.
341   XROX                           Xerox
342   YELP                        Yelp Inc
343     ZM  Zoom Video Communications Inc.
344    ZMD   Zoom Video Communications Inc

[345 rows x 2 columns]

In [31]:
# Generamos un 'Indice de Empresa', para ello primero corregimos inconsistencias en los nombres:
empresa_unique = df['EMPRESA'].unique()

    CEDEAR                         EMPRESA  INDICE_EMPRESA
0      AAL    AMERICAN AIRLINES GROUP INC.               1
1     AAPL                           Apple               2
2    AAPLC                           Apple               2
3    AAPLD                           Apple               2
4     ABBV                     AbbVie Inc.               3
..     ...                             ...             ...
340     XP                         XP INC.             241
341   XROX                           Xerox             242
342   YELP                        Yelp Inc             243
343     ZM  Zoom Video Communications Inc.             244
344    ZMD   Zoom Video Communications Inc             245

[345 rows x 3 columns]

**Inconsistencias:**

* 'AbbVie Inc.', 'Abbvie Inc.'
* 'Amazon ', 'Amazon'
* 'Bioceres Crop Solutions Corp.', 'Bioceres Crop Solutions Corp'
* 'DocuSign Inc.', 'Docusign Inc'
* 'Etsy Inc.', 'Etsy Inc',
* 'Harmony Gold ', 'Harmony Gold'
* 'Ibm', 'IBM'
* 'Jpmorgan Chase & Co.', 'JPMorgan Chase & Co.'
* 'Mastercard Inc.', 'Mastercard'
* "McDonald's", "Mcdonald's"
* 'Novartis Ag', 'Novartis AG'
* 'Snowflake Inc.', 'Snowflake Inc'
* 'Square Inc.', 'Square Inc'
* 'At&T', 'AT&T'
* 'Zoom Video Communications Inc.', 'Zoom Video Communications Inc'

In [32]:
indices_empresa = [(list(empresa_unique).index(i) + 1) for i in df['EMPRESA']]
df['INDICE_EMPRESA'] = indices_empresa
df

array(['AMERICAN AIRLINES GROUP INC.', 'Apple', 'AbbVie Inc.',
       'Abbvie Inc.', 'Ambev', 'Airbnb, Inc.', 'Abbott Laboratories',
       'Adobe Systems Incorporated', 'Adecoagro', 'Analog Devices',
       'Agnico Eagle Mines Limited', 'American International Group',
       'EMBOTELLADORA ANDINA S.A.', 'Applied Materials',
       'Advanced Micro Devices', 'Amgen', 'America Movil', 'Amazon ',
       'Amazon', 'Aluminum Corporation Of China Limited',
       'Arcos Dorados Holdings', 'Etf Ark Innovation', 'Yamana Gold Inc.',
       'Broadcom Inc.', 'Avery Dennison', 'American Express',
       'Astrazeneca', 'Boeing', 'Bank of America', 'Alibaba Group',
       'Blackberry', 'Banco Bradesco S.A.',
       'Banco Bilbao Vizcaya Argentaria', 'Barclays', 'BHP Billiton Ltd.',
       'Baidu', 'Biogen Inc.', 'Bioceres Crop Solutions Corp.',
       'Bioceres Crop Solutions Corp', 'Bitfarms Ltd.',
       'Bank of New York Mellon', 'Bristol-Myers Squibb Co',
       'Bunge Limited', 'BP', 'BRF S.A.', 'Berkshire Hathaway',
       'Banco Santander (Brasil)', 'Citigroup',
       'Corporación América Airports S.A.', 'Cardinal Health',
       'Avis Budget Group Inc.', 'Caterpillar', 'Coeur Mining',
       'Colgate-Palmolive', 'COINBASE GLOBAL INC.', 'Costco Wholesale',
       'Salesforce.com Inc.', 'Credit Suisse Group', 'Cisco Systems',
       'Chevron', 'Cemex', 'Dupont Corporation', 'Deere', 'Despegar',
       'Etf Spdr Dow Jones Industrial', 'The Walt Disney Company',
       'DocuSign Inc.', 'Docusign Inc', 'Dow Inc.',
       'ELECTRONIC ARTS INC.', 'eBay',
       'Centrais Elétricas Brasileiras S.A. - Eletrobrás',
       'Etf Ishares Msci Emerging Market', 'Equifax Inc.',
       'LM Ericsson Telephone', 'Embraer S.A.', 'Etsy Inc.', 'Etsy Inc',
       'Etf Ishares Msci Brazil', 'Ford Motor Company',
       'Freeport-Mcmoran Copper & Gold', 'FedEx', 'Femsa', 'First Solar',
       'General Electric', 'Gold Fields', 'Gerdau', 'Gilead Sciences',
       'Globant', 'Corning', 'General Motors Co.', 'Google',
       'Barrick Gold', 'Geopark Ltd.', 'Garmin LTD.', 'Goldman Sachs',
       'GlaxoSmithKline', 'Halliburton Co.', 'Home Depot', 'Hecla Mining',
       'Honda Motor', 'Harmony Gold ', 'Harmony Gold', 'Harley Davidson',
       'Honeywell International', 'Hewlett-Packard', 'Hsbc Holdings',
       'Hershey', 'Hut 8 Mining Corp.', 'Howmet Aerospace', 'Ibm', 'IBM',
       'Intel', 'International Paper', 'Banco Itaú Unibanco S.A.',
       'Etf Ishares Trust Russell 2000', 'Jd.Com',
       'Jumia Technologies AG', 'Johnson & Johnson',
       'Jpmorgan Chase & Co.', 'JPMorgan Chase & Co.', 'Kimberly-Clark',
       'The Coca-Cola Company', 'Eli Lilly', 'Lockheed Martin',
       'LAM RESEARCH CORP.', 'Las Vegas Sands', 'Lloyds Banking Group',
       'Mastercard Inc.', 'Mastercard', "McDonald's", "Mcdonald's",
       'Medtronic', 'MercadoLibre', 'Meta Platforms Inc',
       'Marsh & McLennan', '3M', 'Altria Group', 'The Mosaic Co', 'Merck',
       'Microsoft', 'Motorola', 'MicroStrategy Incorporated',
       'Micron Technology, Inc.', 'Newmont Mining Corporation', 'Netflix',
       'National Grid', 'NIO INC.', 'Nike', 'Nokia',
       'Cedear Natura & Co Holding Sa', 'Netease, Inc.', 'Nucor',
       'Nvidia', 'Novartis Ag', 'Novartis AG', 'Gazprom', 'Orange',
       'Oracle', 'Occidental Petroleum Corporation',
       'Pan American Silver Corp.', 'Palo Alto Networks, Inc.',
       'Pitney Bowes', 'Petroleo Brasileiro S.A.', 'PACCAR', 'PepsiCo',
       'Pfizer', 'Procter & Gamble', 'Phillips Electronics',
       'Posco Holdings Inc.', 'Phillips 66', 'Paypal Holdings Inc.',
       'Qualcomm', 'Etf Invesco Qqq Trust', 'Roblox Corporation',
       'Rio Tinto', 'United Technologies', 'Banco Santander (Cedear)',
       'SAP', 'Satellogic Inc.',
       'COMPANHIA DE SANEAMENTO BÁSICO DO ESTADO DE SÃO PAULO-SABESP',
       'Starbucks', 'Southern Copper', 'Sea Ltd.', 'Shell Plc',
       'Shopify Inc.', 'Silvergate Capital Corporation',
       'Companhia Siderúrgica Nacional', 'Schlumberger', 'Snap-On',
       'Snap Inc.', 'Snowflake Inc.', 'Snowflake Inc', 'Sony Corporation',
       'S&P GLOBAL INC.', 'Spotify Technology S.A.', 'Etf Spdr S&P 500',
       'Square Inc.', 'Square Inc', 'Suzano', 'Sysco', 'At&T', 'AT&T',
       'Telefonica Sa', 'Tenaris', 'Target Corporation',
       'Tim Participações S.A.', 'Toyota Motors',
       'Thermo Fisher Scientific Inc.', 'Tripadvisor Inc.', 'Tesla',
       'Taiwan Semiconductor Manufacturing Cedear', 'Total',
       'Grupo Televisa', 'TWILIO INC.', 'Twitter', 'Texas Instruments',
       'Ternium', 'United Airlines Holdings, Inc.',
       'Uber Technologies, Inc.', 'Ultrapar Participacoes', 'Unilever',
       'UnitedHealth Group Inc.', 'Union Pacific Corp.',
       'Upstart Holdings, Inc.', 'CEDEAR U.S.Banco', 'Visa ', 'Vale',
       'Vista Energy S.A.B. De C.V.', 'Telefonica Brasil',
       'Vodafone Group', 'Verisign', 'Verizon Communications',
       'Walgreens Boots Alliance Inc.', 'Wells Fargo', 'Walmart',
       'United States Steel', 'Etf Spdr Energy Sector',
       'Etf Spdr Financial Sector', 'Exxon Mobil', 'XP INC.', 'Xerox',
       'Yelp Inc', 'Zoom Video Communications Inc.',
       'Zoom Video Communications Inc'], dtype=object)

In [6]:
# Extraemos los valores de Apertura:
val_apertura = tabla.find_all('td', {"data-field": "Apertura"})
apertura = [valor.get_text(strip=True) for valor in val_apertura]
#print(apertura)
len(apertura)

345

In [7]:
# Extraemos los valores Mínimos:
val_minimo = tabla.find_all('td', {"data-field": "Minimo"})
minimo = [valor.get_text(strip=True) for valor in val_minimo]
#print(minimo)
len(minimo)

345

In [8]:
# Extraemos los valores Máximos:
val_maximo = tabla.find_all('td', {"data-field": "Maximo"})
maximo = [valor.get_text(strip=True) for valor in val_maximo]
#print(maximo)
len(maximo)

345

In [9]:
# Extraemos los valores de Último Cierre:
val_cierre = tabla.find_all('td', {"data-field": "UltimoCierre"})
cierre = [valor.get_text(strip=True) for valor in val_cierre]
#print(cierre)
len(cierre)

345

In [24]:
# Extraemos los valores de Monto Operado:
registros = tabla.find_all('tr', {'data-cantidad': '1'})
monto_operado = [registro.find_all('td', class_="tar")[-1].get_text(strip=True) for registro in registros]
#print(monto_operado)
len(monto_operado)

345